@media screen{
}
.intro_txt {
	margin-left: 5%;
	margin-right: 5px;
	text-align: left;
	letter-spacing: 3px;
}
.intro_txt_p {
	margin-left: 5%;
}

.museBGSize {

}.prof_skills {
	height: 13%;
	font-family: average;
	font-style: normal;
	font-weight: 800;
	font-variant: small-caps;
	font-size: 400%;
	padding-top: 94px;
	color: rgba(233,231,231,1.00);
	text-align: center;
	width: 97vmax;
}
.sub_txt {
	text-align: center;
	font-family: average;
	font-style: normal;
	font-weight: 400;
	color: rgba(233,231,231,1.00);
	font-variant: small-caps;
	font-size: 200%;
	padding-top: 43px;
	float: none;
	line-height: 35px;
	margin-top: 27px;
	padding-bottom: 0px;
}

.progress-bar {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	color: #E9E7E7;
	text-align: center;
	background-color: #427A48;
	transition: width 0.6s ease;
	margin-left: 21px;
	-webkit-box-shadow: 0px 0px;
	box-shadow: 0px 0px;
	border-radius: 4px;
}

.progress-bar:hover {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	color: #E9E7E7;
	text-align: center;
	background-color: #4A8A51;
	transition: width 0.6s ease;
	margin-left: 21px;
	-webkit-box-shadow: 0px 0px;
	box-shadow: 0px 0px;
	border-radius: 4px;
}

.skills_list {
	margin-top: 4vmax;
	float: none;
	clear: none;
	text-align: left;
	margin-left: 21vmax;
	color: rgba(233,231,231,1.00);
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: medium;
	font-variant: small-caps;
	margin-right: 25vmax;
	padding-bottom: 1px;


}
.java_list {
	margin-bottom: 15px;
	text-align: left;
}
.sk_line {
}
.sk_line.js {
	margin-left: -30px;
}

.sk_line.a {
	margin-left: -91px;
}



.museSkillsbdy {
	position: relative;
	width: auto;
	height: auto;

}
.museSkillsbdy.exp {
	background-color: rgba(233,231,231,1.00);
	background-image: url(../images/hunters-race-408744-unsplash.jpg), -webkit-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(100,99,99,0.31) 100%);
	background-image: url(../images/hunters-race-408744-unsplash.jpg), -moz-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(100,99,99,0.31) 100%);
	background-image: url(../images/hunters-race-408744-unsplash.jpg), -o-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(100,99,99,0.31) 100%);
	background-image: url(../images/hunters-race-408744-unsplash.jpg), linear-gradient(180deg,rgba(255,255,255,1.00) 0%,rgba(100,99,99,0.31) 100%);
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

.museSkillsbdy1 {
	position: relative;
}
.spacePage {
	height: 75px;



}
.sk_line.a1 {
	padding-left: 0px;
	padding-right: 0px;
	margin-left: -110px;
}
.sk_line.acss {
	margin-left: 9px;
}
.sk_line.at {
	margin-left: -76px;
}
.sk_line.adbg {
	margin-left: -38px;
}
.sk_line.nt {
	margin-left: -46px;
}
.sk_line.ts {
	margin-left: -82px;
}
.sk_line.ad {
	margin-left: -73px;
}
.sk_line.btrp {
	margin-left: -27px;
}
.sk_line.vide {
	margin-left: -845px;
	text-align: center;
}
.sk_line.rdbms {
	margin-left: -32px;
}
.sk_line.cloud {
	margin-left: -755px;
	text-align: center;
}
.sk_line.ats {
	margin-left: -841px;
	text-align: center;
}
.sk_line.git {
	margin-left: -800px;
	text-align: center;
}
.divider_line {
	width: 671px;
	height: 600px;
	border-right: 3px dotted rgba(23,188,41,0.78);
	position: absolute;
	margin-top: 116px;
}
.left2 {
	position: relative;
	top: 381px;
}

.right_exp {
	position: relative;
	right: -748px;
	width: 231px;
	bottom: -115px;
	height: 88px;
}
.right_exp.n2 {
	position: relative;
	bottom: -378px;
}

.exp_date {
	text-align: left;
	text-decoration: none;
	font-family: advent-pro;
	font-style: normal;
	font-weight: 600;
	font-size: large;
	text-indent: 0px;
	text-shadow: 0px 0px 10px rgba(177,177,177,0.64);
	color: rgba(16,233,43,0.88);
}
.exp_comp {
	color: rgba(233,231,231,1.00);
	font-family: anonymous-pro;
	font-style: normal;
	font-weight: 700;
	font-variant: normal;
	font-size: x-large;
	text-align: left;
	line-height: 40px;
}
.desg_desc {
	color: rgba(160,165,179,1.00);
	font-family: advent-pro;
	font-style: normal;
	font-weight: 200;
	font-size: medium;
	text-align: left;
}
.left_exp {
	width: 333px;
	text-align: right;
	position: relative;
	right: -255px;
	bottom: -106px;
}
.left {
	text-align: right;
}
.museSkillsbdy.skilBG {
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url(../images/ruthson-zimmerman-233522-unsplash.jpg), -webkit-linear-gradient(270deg,rgba(233,231,231,0.56) 0%,rgba(243,227,227,1.00) 23.32%);
	background-image: url(../images/ruthson-zimmerman-233522-unsplash.jpg), -moz-linear-gradient(270deg,rgba(233,231,231,0.56) 0%,rgba(243,227,227,1.00) 23.32%);
	background-image: url(../images/ruthson-zimmerman-233522-unsplash.jpg), -o-linear-gradient(270deg,rgba(233,231,231,0.56) 0%,rgba(243,227,227,1.00) 23.32%);
	background-image: url(../images/ruthson-zimmerman-233522-unsplash.jpg), linear-gradient(180deg,rgba(233,231,231,0.56) 0%,rgba(243,227,227,1.00) 23.32%);
}
.exp_txt {
}

.exp_txt:active {
	color: rgba(136,191,137,1.00);	
}
.museBGPort {
	min-width: 0px;
}
.port1 {
	background-color: rgba(120,125,131,0.53);
	width: 427px;
	height: 405px;
	position: relative;
	right: -202px;
	bottom: -61px;
	border-radius: 5px;
	-webkit-box-shadow: 0px 0px;
	box-shadow: 0px 0px;
	left: 24px;
	top: 8px;
}
.desc_port1 {
	width: 427px;
	height: 138px;
	background-color: rgba(158,163,167,0.79);
	position: relative;
	right: -23px;
	top: 48px;
	border-radius: 5px;
}
.mainPort2 {
	position: relative;
	top: -542px;
	right: -432px;
	width: 0px;
}
.mainPort3 {
	top: -1084px;
	position: relative;
	right: -862px;
	width: 0px;
}
.mainPort1 .desc_port1 .details_svg {
}
.details_svg {
	position: relative;
	top: -34px;
	right: -366px;
}


.details_svg {
}
.left_line {
	width: 143px;
	border-top: 3px solid rgba(5,5,5,0.53);
	position: relative;
	top: 10px;
	border-radius: 65px;
	right: -7px;
}
.right_line {
	width: 144px;
	border-top: 3px solid rgba(70,72,74,1.00);
	position: relative;
	top: -9px;
	right: -277px;
}
.middle_divider {
	border-right: 2px dotted rgba(72,73,75,1.00);
	position: relative;
	right: -216px;
	height: 78px;
	bottom: -15px;
	border-radius: 0px;
	-webkit-box-shadow: 0 0px;
	box-shadow: 0 0px;
	width: 0px;
}

.tech_txt {
	text-align: center;
	font-family: anonymous-pro;
	font-style: normal;
	font-weight: 700;
	font-variant: normal;
	font-size: large;
	color: rgba(247,247,247,1.00);
}
.whole_text {
}
.whole_text_right {

}
.mainPort1 .port1 #designer {
}
.mainPort1 .port1 #designer {
}
.port_img {
	position: relative;
	top: 8px;
	right: -4px;
	border-radius: 6px;
}


.details_svg, .port_img:hover {
    transform: scale(1.01); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
.second_section   {
	position: relative;
	top: -1033px;
	height: 0px;
}
.third_section {
	position: relative;
	top: -437px;

}
.left_text {
	position: relative;
	top: -64px;
	left: 29px;
}
.right_text {
	position: relative;
	top: -158px;
	right: -283px;
	color: rgba(252,252,252,1.00);
}

/* The Modal (background) */
.modal, .modal1, .modal2, .modal3, .modal4, .modal5, .modal6, .modal7 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
	
}

/* Modal Content/Box */
.modal-content, .modal-content1, .modal-content2, .modal-content3, .modal-content4, .modal-content5, .modal-content6, .modal-content7{
	background-color: #C1C1C1;
	margin: 15% auto; /* 15% from the top and centered */
	padding: 20px;
	border-style: solid;
	border-width: 1px;
	width: 45%;
	border-radius: 7px;
	max-height: 75%;
	display: ;
}


.modal-content_Extreme{
	background-color: #C1C1C1;
	margin: 15% auto; /* 15% from the top and centered */
	padding: 20px;
	border-style: solid;
	border-width: 1px;
	width: 45%;
	border-radius: 7px;
	max-height: 75%;
	top: 0px;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}



* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}


.slideshow-container_extreme {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides, .mySlides1, .mySlides2, .mySlides3 , .mySlides4 , .mySlides5 ,.mySlides6  {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
.carousel-img {
	background-repeat: no-repeat;
	max-width: 100%;
	max-height: 34%;
}
.proj_top_txt {
	text-align: center;
	font-family: anonymous-pro;
	font-style: italic;
	font-weight: 700;
	font-size: large;
	position: relative;
	line-height: 51px;
	bottom: 0px;
	padding-top: 13px;
}
