#u364 {
	box-shadow: 6px 6px 8px rgba(28,28,28,0.5);
	border-style: solid;
	border-width: 1px;
	border-color: #606060;
	background-color: transparent;
	border-radius: 0px 0px 10px 10px;
}
#u364_align_to_page {
	max-width: 1480px;
}
#u368-4 {
	background-color: transparent;
	line-height: 29px;
	font-size: 24px;
	color: #4C4C4C;
	font-family: bebas-neue-v14-deprecated, sans-serif;
	font-weight: 400;
}
#u368-4:hover p {
	color: #DBDBDB;
	visibility: inherit;
}
#u371-4 {
	background-color: transparent;
	line-height: 29px;
	font-size: 24px;
	color: #4C4C4C;
	font-family: bebas-neue-v14-deprecated, sans-serif;
	font-weight: 400;
}
#u371-4:hover p {
	color: #DBDBDB;
	visibility: inherit;
}
#u371-4:active p {
	color: #FFFFFF;
	visibility: inherit;
}
#u374-4 {
	background-color: transparent;
	line-height: 29px;
	font-size: 24px;
	color: #4C4C4C;
	font-family: bebas-neue-v14-deprecated, sans-serif;
	font-weight: 400;
}
#u374-4:hover p {
	color: #DBDBDB;
	visibility: inherit;
}
#u374-4:active p {
	color: #FFFFFF;
	visibility: inherit;
}
#u377-4 {
	background-color: transparent;
	line-height: 29px;
	font-size: 24px;
	color: #000000;
	font-family: bebas-neue-v14-deprecated, sans-serif;
	font-weight: 400;
}
#u377-4:hover p {
	color: #DBDBDB;
	visibility: inherit;
}
#u377-4:active p {
	color: #FFFFFF;
	visibility: inherit;
}
#u380-4 {
	background-color: transparent;
	line-height: 29px;
	font-size: 24px;
	color: #4C4C4C;
	font-family: bebas-neue-v14-deprecated, sans-serif;
	font-weight: 400;
}
#u380-4:hover p {
	color: #DBDBDB;
	visibility: inherit;
}
#u380-4:active p {
	color: #FFFFFF;
	visibility: inherit;
}
#u383-4 {
	background-color: transparent;
	line-height: 29px;
	font-size: 24px;
	color: #4C4C4C;
	font-family: bebas-neue-v14-deprecated, sans-serif;
	font-weight: 400;
}
#u383-4:hover p {
	color: #DBDBDB;
	visibility: inherit;
}
#u383-4:active p {
	color: #FFFFFF;
	visibility: inherit;
}
#u368-4.MuseLinkActive p, #u371-4.MuseLinkActive p, #u374-4.MuseLinkActive p, #u377-4.MuseLinkActive p, #u380-4.MuseLinkActive p, #u383-4.MuseLinkActive p {
	color: #427A48;
	visibility: inherit;
}

#menuu420 {
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	border-radius: 10px;
}
#u424 {
	background-color: #B2B2B2;
}
#u424:hover {
	background-color: #999999;
}
#u424:active {
	background-color: #6B6B6B;
}
#u426-4 {
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #606060;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}
#u424.MuseMenuActive #u426-4 p {
	color: #CCCCCC;
	visibility: inherit;
}
#u429 {
	background-color: #B2B2B2;
}
#u429:hover {
	background-color: #999999;
}
#u429:active {
	background-color: #6B6B6B;
}
#u431-4 {
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #606060;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}
#u467 {
	background-color: #B2B2B2;
}
#u467:hover {
	background-color: #999999;
}
#u467:active {
	background-color: #6B6B6B;
}
#u469-4 {
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #606060;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}
#u490 {
	background-color: #B2B2B2;
}
#u490:hover {
	background-color: #999999;
}
#u490:active {
	background-color: #6B6B6B;
}
#u492-4 {
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #606060;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}
#u511 {
	background-color: #B2B2B2;
}
#u511:hover {
	background-color: #999999;
}
#u511:active {
	background-color: #6B6B6B;
}
#u514-4 {
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #606060;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}
#u421, #u428, #u466, #u487, #u508, #u529 {
	background-color: transparent;
}
#u532 {
	background-color: #B2B2B2;
}
#u532:hover {
	background-color: #999999;
}
#u532:active {
	background-color: #6B6B6B;
}
#u424.MuseMenuActive, #u429.MuseMenuActive, #u467.MuseMenuActive, #u490.MuseMenuActive, #u511.MuseMenuActive, #u532.MuseMenuActive {
	background-color: #666666;
}
#u534-4 {
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #606060;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}
#u429.MuseMenuActive #u431-4 p, #u467.MuseMenuActive #u469-4 p, #u490.MuseMenuActive #u492-4 p, #u511.MuseMenuActive #u514-4 p, #u532.MuseMenuActive #u534-4 p {
	color: #CCCCCC;
	visibility: inherit;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
}
.MenuItem {
	cursor: pointer;
}
#u411-11 {
	background: -webkit-gradient(linear, left center, right center, from(rgba(255,255,255,0.3)), color-stop(100%, rgba(127,127,127,0.65)));
	background: -webkit-linear-gradient(left, rgba(255,255,255,0.3), rgba(127,127,127,0.65) 100%);
	background: linear-gradient(to right, rgba(255,255,255,0.3), rgba(127,127,127,0.65) 100%);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4CFFFFFF, endColorstr=#A57F7F7F, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#4CFFFFFF', endColorstr='#A57F7F7F', GradientType=1)";
	border-radius: 0px 10px 0px 0px;
	font-size: 36px;
	line-height: 43px;
	font-family: cantata-one, serif;
	font-weight: 400;
	font-style: italic;
}
#u411-4, #u411-9 {
	color: #000000;
}
#u411-3, #u411-6, #u411-7 {
	color: #282828;
}
#u411-2, #u411-8 {
	color: #00FF00;
}
#u414-4 {
	background-color: transparent;
	font-family: cantata-one, serif;
	font-weight: 400;
	font-style: italic;
}
